In [2]:
import pandas as pd
import os
import numpy as np

In [3]:
purchase_data = pd.read_csv("../Resources/purchase_data.csv")

In [4]:
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [5]:
Players = purchase_data[["SN"]].drop_duplicates().count()
Players
pd.DataFrame({"Total Players": Players})

    Total Players
SN            576

In [6]:
Unique_Items = purchase_data["Item Name"].unique()
Number_of_Unique_Items = len(Unique_Items)

Average_Price = purchase_data["Price"].mean()
Number_Purchase = purchase_data["Purchase ID"].count()
Total_Revenue = purchase_data["Price"].sum()

pd.DataFrame({"Number of Unique Items": [Number_of_Unique_Items], "Average Price": [Average_Price], "Number of Purchases": [Number_Purchase], "Total Revenue": [Total_Revenue]})

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [39]:
Players_df = purchase_data[["Gender", "SN", "Age"]].drop_duplicates()
Players_df

gender_df = Players_df.groupby("Gender").count()["SN"]
gender_df

gender_totals = Players_df["Gender"].count()
gender_totals

Demo_per = (gender_df / gender_totals) * 100
Demo_per                             

genderStats_df = pd.DataFrame({"Total": gender_df, "Percentage of Players": Demo_per})
genderStats_df

genderStats_df.style.format({"Percentage of Players" : "{:.2f}%"})