In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
purchase_data = pd.read_csv("../Resources/purchase_data.csv")

In [3]:
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [4]:
Players = purchase_data[["SN"]].drop_duplicates().count()
Players
pd.DataFrame({"Total Players": Players})

    Total Players
SN            576

In [5]:
Unique_Items = purchase_data["Item Name"].unique()
Number_of_Unique_Items = len(Unique_Items)

Average_Price = purchase_data["Price"].mean()
Number_Purchase = purchase_data["Purchase ID"].count()
Total_Revenue = purchase_data["Price"].sum()

pd.DataFrame({"Number of Unique Items": [Number_of_Unique_Items], "Average Price": [Average_Price], "Number of Purchases": [Number_Purchase], "Total Revenue": [Total_Revenue]})

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [6]:
Players_df = purchase_data[["Gender", "SN", "Age"]].drop_duplicates()
Players_df

gender_df = Players_df.groupby("Gender").count()["SN"]
gender_df

gender_totals = Players_df["Gender"].count()
gender_totals

Demo_per = (gender_df / gender_totals) * 100
Demo_per                             

genderStats_df = pd.DataFrame({"Total": gender_df, "Percentage of Players": Demo_per})
genderStats_df

genderStats_df.style.format({"Percentage of Players" : "{:.2f}%"})

In [7]:
gender_groups = purchase_data.groupby(['Gender'])
purchbygender_df = gender_groups.count()["Price"]
purchbygender_df

spendingbygender = purchase_data.groupby("Gender").sum()["Price"]
spendingbygender

avg_purch_price = purchase_data.groupby("Gender").mean()["Price"]
avg_purch_price

total_purch_pp = spendingbygender / gender_df
total_purch_pp

gender_purch_df = pd.DataFrame({"Purchase Count": purchbygender_df, "Average Purchase Price": avg_purch_price, "Total Purchase Value": spendingbygender, "Avg Total Purchase per Person": total_purch_pp})
gender_purch_df

gender_purch_df.style.format({"Average Purchase Price" : "${:,.2f}", "Total Purchase Value" : "${:,.2f}", "Avg Total Purchase per Person" : "${:,.2f}"})

In [20]:
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_df = pd.DataFrame()

age_df["Age Range"] = pd.cut(age_df['Age'], 8, labels=group_names)

age_groups = purchase_data.groupby(["Age Range"])

KeyError: 'Age'

In [11]:
SN_groups_df = purchase_data.groupby(["SN"])
SN_groups_df

purchase_count = SN_groups_df.count()["Price"]
purchase_count

avg_pur_count = SN_groups_df.mean()["Price"]
avg_pur_count

total_pur_value = SN_groups_df.sum()["Price"]
total_pur_value

pur_analysis = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_pur_count, "Total Purchase Value": total_pur_value,})

pur_analysis_sorted = pur_analysis.sort_values("Total Purchase Value", ascending=False).head()

pur_analysis_sorted.style.format({"Average Purchase Price" : "${:,.2f}", "Total Purchase Value" : "${:,.2f}"})

In [12]:
Items_Purchased_df = purchase_data.groupby(["Item Name", "Item ID"])
Items_Purchased_df

purchase_count = Items_Purchased_df.count()["Price"]
purchase_count

Total_Pur_Value = Items_Purchased_df.sum()["Price"]
Total_Pur_Value

popular_item_analysis = pd.DataFrame({"Purchase Count": purchase_count, "Total Purchase Value": Total_Pur_Value})

popular_item_analysis_sorted = popular_item_analysis.sort_values("Purchase Count", ascending=False).head()

popular_item_analysis_sorted.style.format({"Total Purchase Value" : "${:,.2f}"})

In [16]:
Profit_Items = Items_Purchased_df.sum()["Price"]
Profit_Items

purchase_count = Items_Purchased_df.count()["Price"]
purchase_count

profitable_item_analy = pd.DataFrame({"Total Purchase Value": Profit_Items, "Purchase Count": purchase_count})

profitable_item_analy_sorted = profitable_item_analy.sort_values("Total Purchase Value", ascending=False).head()

profitable_item_analy_sorted.style.format({"Total Purchase Value" : "${:,.2f}"})